{% extends "style.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>Testing {{websiteUrl}}{% if commonVulnerableRoutes %} with common vulnerable routes{% endif %}...</h2>
  </div>
  <div class="col-md-6">
    <div class="loader testing-spinner">Testing...</div>
  </div>
</div>
<hr>

<!-- This is the well that we put the results in !-->
<div class="well well-lg">
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
urlsToCheck = {{ urlsToCheck | tojson }};
exploitableCheckURL = {{ url_for('index') }};
headersToCheck = ['User-Agent'];
</script>
<script src="{{ url_for('static', filename='js/shocker.js') }}"></script>
{% endblock %}
